* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(47, 61, 69);
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 1rem;
}

main {
  max-width: 1440px;
  margin: auto;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.movie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 350px;
}

img {
  margin-top: 1rem;
}

img:hover {
  scale: 1.1;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}
